.small-form {
    max-width: 400px;
    margin: 0 auto;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

body {
    padding-top: 100px; /* Ajusta este valor según el tamaño del navbar */
}


    .row.flex-wrap {
        flex-wrap: wrap;
    }

    .row.align-left .col-md-4 {
        margin-left: auto;
        margin-right: auto;
    }


