.small-form {
  max-width: 400px;
  margin: 0 auto;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

body {
  padding-top: 100px;
  /* Ajusta este valor según el tamaño del navbar */
}


.row.flex-wrap {
  flex-wrap: wrap;
}

.row.align-left .col-md-4 {
  margin-left: auto;
  margin-right: auto;
}



body {
  font-family: Arial, sans-serif;
}

#container {
  text-align: center;
  margin: 20px auto;
  width: 60000px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h4 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}



.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  max-width: 900px;
  margin: 0 auto;

}

.grid-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

#carouselWithControls {
  max-width: 4000 px;
  /* Ajusta el valor según el tamaño deseado */
  margin-right: 10px;
  /* Espacio entre el carrusel y el texto */

}

.description {
  margin-top: 5px;
  /* Ajusta el valor según el espacio deseado */
}

.description ul li {
  margin-bottom: 10px;
}

.btn-dark {
  background-color: #000;
  color: #fff;
  border-color: #000;
  margin-bottom: 10px;
}

.btn-dark:hover {
  background-color: #333;
  border-color: #333;
}

.size-buttons {
  margin-bottom: 10px;
}

.size-buttons button {
  margin-right: 5px;
}

.size-buttons button.active {
  background-color: #333;
  color: #fff;
}

.size-buttons {
  margin-top: 100px;
  /* Espacio superior de los botones */
}


.container {
  margin-top: 20px;
}

.row {
  align-items: center;
  margin-bottom: 20px;
}

.description {
  background-color: rgba(117, 117, 117, 0.11);
  padding: 20px;
}

@media (max-width: 768px) {
  .description {
    margin-bottom: 20px;
  }
}

.carousel-image {
  width: 100px;
  height: 600px;
}


.rounded-image {
  width: 200px; 
  height: 200px;
  padding: 10px; 
}



#containerfotos {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.photo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.photo-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.photo-container img:hover {
  transform: scale(1.1);
}

h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 20px;
}






















